* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: oswald, sans-serif;
}

body {
  background: linear-gradient(135deg, green, #24a1c7ff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 18px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.2);
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(.9); }
  to { opacity: 1; transform: scale(1); }
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #1a1a1a;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tabs button {
  width: 50%;
  padding: 10px;
  border: none;
  cursor: pointer;
  background: #e5e7eb;
  color: #333;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.3s;
}

.tabs button.active {
  background: green;
  color: white;
}

.form {
  display: none;
  flex-direction: column;
  gap: 15px;
}

.form.active {
  display: flex;
}

input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s;
}

input:focus {
  border-color: #1524acff;
}

.btn {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: green;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: rgb(78, 104, 78);
}

.error {
  color: red;
  font-size: 14px;
  text-align: center;
  min-height: 20px;
}

.logout-btn {
  padding: 8px 16px;
  border-radius: 8px;
  background: #ef4444;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.logout-btn:hover {
  background: #dc2626;
}
